.main {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100vh;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainTxt {
  display: flex;
  flex-direction: row;
}

.mainTxt h2 {
  font-size: 1.5rem;
  margin-top: 25px;
  color: #335b52a4;
  text-align-last: right;
}
