.main {
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

.sectionPpal {
  margin: 0px;
}

.text-center li {
  list-style: none;
  font-size: 1rem;
  text-align: left;
}

.text-center h2 {
  font-size: 1.3rem;
  color: #335b525b;
  text-align: left;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 169, 163, 0.5018382352941176) 89%
  );
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner {
  height: 50vh;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
