* {
  width: 100%;
  margin: 0px;
}

.navbar-brand {
  margin: 0px;
  width: 30%;
}

.logo-brand {
  margin: 20px;
  width: 220px;
  height: 60px;
}

.nav-item {
  text-align: center;
  font-size: 1.5rem;
  margin: 5px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-brand {
  align-items: center;
  width: auto;
}

.footer-copywrite {
  width: auto;
  align-items: center;
}

.footer-rrss {
  width: auto;
  align-items: center;
}

.footer a {
  list-style-type: none;
  text-decoration: none;
}

.footer h2 {
  font-size: 1rem;
}

.logo-rrss {
  width: 40px;
  height: 40px;
}
