.body--container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.main--container {
  grid-area: main;
  background: linear-gradient(
    45deg,
    rgba(222, 184, 135, 0.212) 0%,
    rgba(255, 255, 255, 0.46262254901960786) 100%
  );
  display: grid;
  grid-template-areas:
    "mainImg mainImg mainImg"
    "main1 main1 main1"
    "main2 main2 main2";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
}

.main__img {
  grid-area: mainImg;
  background-image: url("../img/img_ppal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr[x0] 1fr[x1] 1fr[x2] 1fr[x3] 1fr[x4];
  grid-template-rows: 1fr[y0] 1fr[y1] 1fr[y2] 1fr[y3];
}

.main__img div {
  grid-column: x3 / x4;
  grid-row: y0 / y1;
}

.main__background__img__button {
  display: inline-block;
  background-color: #335b525b;
  padding: 40px 50px;
  border: 2px;
  border-radius: 5px;
  width: max-content;
  text-align: center;
  font-size: 1.5rem;
  color: #ddd3d3dc;
}

.main__background__img__button:hover {
  transform: scale(1.5);
}

.main--container--1 {
  grid-area: main1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  height: 50vh;
  padding: 30px;
  overflow: auto;
}

.main--container--1 h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 15px;
}

.main--container--1 h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #488174;
  margin: 10px;
}

.main--container__contacto {
  text-align: center;
  width: fit-content;
}

.main--container__horario {
  text-align: center;
  width: fit-content;
}

.main--container__direccion {
  text-align: center;
  width: fit-content;
}

.main--container--1 iframe {
  margin: 15px;
  align-items: center;
  position: relative;
  overflow: auto;
}

.main--container--2 {
  grid-area: main2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  overflow: auto;
}

.main--container--2__video {
  width: 60%;
  height: 80%;
}

.main--container--2__form {
  width: max-content;
}

.main--container--2__form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0;
}

.main--container--2__form h3 {
  font-size: 1.5rem;
  text-align: center;
}

.main--container--2__form label {
  font-size: 1rem;
  margin: 5px;
}

.main--container--2__form input {
  background-color: white;
  font-size: 1rem;
  border: 2px;
  border-radius: 5px;
}

.main--container--2__form select {
  background-color: white;
  font-size: 1rem;
  width: 50%;
}

.main--container--2__form option {
  font-size: 1rem;
}

.main__form__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main__form__radioButton {
  text-align: center;
  margin: 15px;
}

.main__form__button button {
  background-color: #335b525b;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px;
  border: 2px;
  border-radius: 5px;
  color: white;
  width: 20%;
  font-size: 1rem;
}
