.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(51, 91, 82, 0.13209033613445376) 100%
  );
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 169, 163, 0.5018382352941176) 89%
  );
}

.carousel h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.541);
  text-align: left;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.section1 {
  margin: 0px;
  padding: 0px;
}

.section1 h4 {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section2 {
  margin: 0px;
  padding: 0px;
}
