.main {
  background-image: url("../img/img_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  margin-top: 10px;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
}

.form--container {
  padding: 10px;
}

.formulario button {
  color: white;
  background-color: #488174af;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  border: 2px;
  border-radius: 5px;
}

.form--forgetPass {
  margin-top: 10px;
}

.form--forgetPass h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}
