.mainCirugia {
  @include margpad(0, 0);
  width: 100%;
  height: auto;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
  background: $bc-cream;

  .section1Cirugia {
    @include margpad(0, 0);
    &--cirugia {
      margin-top: $margin-size-small;
      margin-bottom: $margin-size-small;
      h2 {
        color: $color-green;
        font-size: $txt-size-m;
        text-align: left;
        margin-top: $margin-size-small;
        margin-bottom: $margin-size-small;
      }

      ul {
        @include margpad(0, 0);

        li {
          list-style: none;
          text-align: left;
          font-size: $txt-size-s;
        }
      }
    }
  }
}

.bannerCirugia {
  height: 60vh;
  background-image: url("../../img/quirofano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
}
