.mainEspecialidad {
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .especialidad {
    margin-bottom: $margin-size-big;

    &--color {
      background: $bc-cream;
    }

    h2 {
      color: $color-boldgreen;
      font-size: $subtitle-size;
      text-align: center;
    }

    h3 {
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;
    }

    h4 {
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;
      margin: $margin-size-normal;
    }

    h5 {
      margin: $margin-size-normal;
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;

      a {
        text-decoration: none;
        color: $color-cake;
        margin: $margin-size-normal;
      }
    }

    img {
      width: 150px;
      margin: $margin-size-normal;
    }

    img:hover {
      transform: scale(2);
    }
  }
}
