.mainEspecialidad {
  background-color: $bc-news;
  margin: 0px;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
  padding: 0px;
  width: 100%;

  .especialidad {
    width: 100%;
    margin: 0px;

    h2 {
      margin-top: $margin-size-big;
      margin-bottom: $margin-size-small;
      color: $color-green;
      font-size: $subtitle-size;
      text-align: center;
    }

    h3 {
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;
    }

    h4 {
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;
      margin: $margin-size-normal;
    }

    h5 {
      margin: $margin-size-normal;
      font-size: $txt-size-s;
      font-weight: bolder;
      text-align: center;

      a {
        text-decoration: none;
        color: $color-boldgreen;
        margin: $margin-size-normal;
      }
    }

    img {
      width: 150px;
      margin: $margin-size-normal;
    }

    img:hover {
      transform: scale(2);
    }
  }
}
