.mainEstudio {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background: $bc-cream;

  h2 {
    background: $bc-green;
    color: $color-boldgreen;
    font-size: $subtitle-size;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &--lista {
    list-style: none;
    font-size: 1rem;
    text-align: left;
  }
}

.bannerEstudio {
  height: 50vh;
  background-image: url("/imgPages/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
