.mainEstudio {
  @include margpad(0, 0);
  @include dimension(100%, auto);
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
  background: $bc-cream;

  .section1Estudio {
    @include margpad(0, 0);
    &--estudio {
      @include margpad(0, 0);
      margin-top: $margin-size-small;
      margin-bottom: $margin-size-small;

      h2 {
        color: $color-green;
        font-size: $subtitle-size;
        text-align: center;
        margin-top: $margin-size-big;
        margin-bottom: $margin-size-big;
      }

      ul {
        @include margpad(0, 0);
      }

      li {
        margin-top: $margin-size-big;
        margin-bottom: $margin-size-big;
        list-style: none;
        text-align: center;
        font-size: $txt-size-s;
      }
    }
  }
}

.bannerEstudios {
  @include dimension(100%, 40vh);
  background-image: url("../../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
}
