.mainEstudio {
  width: 100%;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;
  background: $bc-cream;

  &--items {
    align-items: center;
    justify-content: center;
    margin-top: $margin-size-small;
    margin-bottom: $margin-size-small;

    .btn-turno {
      border: none;
      text-align: center;
      font-size: $txt-btn-size-s;
      background-color: $color-cake;
      color: $txt-btn-color;
    }

    &-lista {
      list-style: none;
      font-size: $txt-size-m;
    }
  }
}

.banner {
  margin-bottom: $margin-size-small;
}
