.footer {
  @include margpad(0, 0);
  background-color: $bc-footer;
  margin-top: $margin-size-small;

  .footerRow {
    @include margpad(0, 0);
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

    .footer-brand {
      margin-top: $margin-size-small;
      margin-bottom: $margin-size-small;
      width: max-content;
      padding: $padding-size-small;
      margin: $margin-size-big;

      .logo-brand {
        margin: $margin-size-normal;
        padding: $padding-size-small;
        @include dimension(220px, 70px);
      }
    }

    .footer-copywrite {
      margin-top: $margin-size-small;
      margin-bottom: $margin-size-small;
      text-align: center;
      padding: $padding-size-small;
      margin: $margin-size-big;

      h2 {
        font-size: $txt-size-xs;
      }
    }

    .footer-rrss {
      margin-top: $margin-size-small;
      margin-bottom: $margin-size-small;
      display: flex;
      justify-content: center;
      width: fit-content;
      padding: 0px;
      margin: $margin-size-big;

      a {
        list-style-type: none;
        text-decoration: none;
        width: auto;

        .logo-rrss {
          margin: $margin-size-small;
          @include dimension(40px, 40px);
        }
      }
    }
  }
}
