.header {
  width: 100%;
  background-color: $bc-header;

  .navbar {
    .navbar-brand {
      width: max-content;

      .logo-brand {
        margin: $margin-size-big;
        width: 220px;
        height: 60px;
      }
    }

    .navbar-toggler {
      margin: $margin-size-big;
    }

    .nav-item {
      text-align: center;
      font-size: $nav-item-size;
      margin: $margin-size-big;
    }
  }
}
