.header {
  @include margpad(0, 0);
  width: 100%;
  background-color: $bc-header;

  .navbar {
    .navbar-brand {
      width: max-content;

      .logo-brand {
        margin: $margin-size-big;
        width: 220px;
        height: 70px;
      }
    }

    .navbar-toggler {
      margin: $margin-size-big;
    }

    .nav-item {
      @include margpad(0, 0);
      text-align: center;
      font-size: $nav-item-size;
    }
  }
}
