.header {
  @include margpad(0, 0);
  @include dimension(100%, auto);
  background-color: $bc-header;

  .navbar {
    .navbar-toggler {
      background-color: $bc-header;
    }
    .navbar-brand {
      width: max-content;

      .logo-brand {
        @include dimension(220px, 70px);
        margin: $margin-size-big;
      }
    }

    .navbar-toggler {
      margin: $margin-size-big;
    }

    .nav-item {
      @include margpad(0, 0);
      text-align: center;
      font-size: $nav-item-size;
    }
  }
}
