.mainIndex {
  @include margpad(0, 0);
  width: 100%;
  height: auto;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .bgimageIndex {
    @include margpad(0, 0);
    background-image: url("../../img/oftalmologo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;

    .welcome {
      h5 {
        color: $color-cake;
        font-size: $title-size;
        text-align: left;
        margin: $margin-size-normal;
      }

      p {
        color: $color-txt-default;
        font-size: $txt-size-m;
        text-align: left;
        margin: $margin-size-normal;
      }
    }
  }

  &--turno {
    @include margpad(0, 0);
    &--btn {
      @include margpad(0, 0);

      .btn-main {
        border: none;
        text-align: center;
        margin-top: $margin-size-small;
        font-size: $txt-btn-size-l;
        background-color: $color-cake;
        color: $txt-btn-color;

        img {
          width: auto;
        }
      }
    }
  }

  .ppage {
    width: 100%;
    @include margpad(0, 0);
    align-items: space-evenly;
    text-align: center;

    &--item {
      h2 {
        font-size: $subtitle-size;
        color: $color-green;
        margin-bottom: $margin-size-big;
      }

      p {
        font-size: $txt-size-s;
      }
    }
  }

  .bpageIndex {
    width: 100%;
    @include margpad(0, 0);
    background: $bc-cream;

    .container-form {
      width: 50%;

      .legend-form {
        text-align: center;
        color: $color-txt-default;
      }

      .btn-formulario {
        color: $txt-btn-color;
        background-color: $color-cake;
        font-size: $txt-btn-size-s;
        text-decoration: none;
        cursor: pointer;
        width: auto;
        border: 2px;
        border-radius: 5px;
      }
    }
  }
}
