.container-fluid-main {
  @include margpad(0, 0);
  background: $bc-cream;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .carousel--container {
    @include margpad(0, 0);
    margin-top: $margin-size-small;
    margin-bottom: $margin-size-small;

    &--item {
      @include margpad(0, 0);

      .carousel-inner {
        height: $big-screen-carousel;

        @media only screen and (max-width: 770px) {
          height: $small-screen-carousel;
        }

        .carousel-item {
          height: $big-screen-carousel;

          @media only screen and (max-width: 770px) {
            height: $small-screen-carousel;
          }

          img {
            height: $big-screen-carousel;
            @media only screen and (max-width: 770px) {
              height: $small-screen-carousel;
            }
          }
        }
      }
    }
  }

  .card--container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    .card--container--card {
      border: none;
      background-color: $bc-cream;

      .card-body {
        text-align: center;

        .card-title {
          color: $color-green;
          font-size: $subtitle-size;
        }

        .card-link {
          text-decoration: none;
          cursor: pointer;
          color: $color-txt-default;
        }
      }
    }
  }
}
