.container-fluid-main {
  @include margpad(0, 0);
  background-color: $bc-news;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .carousel--container {
    @include margpad(0, 0);
    margin-top: $margin-size-small;
    margin-bottom: $margin-size-small;

    &--item {
      @include margpad(0, 0);
    }
  }
}
