.mainPortal {
  @include margpad(0, 0);
  width: 100%;
  height: 100vh;
  background-image: url("../../img/oftalmologo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .form--container {
    @include margpad(0, 0);
    margin: $margin-size-big;
    padding: $padding-size-normal;
    border: 2px;
    border-radius: $margin-size-small;

    .formulario {
      .form-control {
        background-color: rgba(240, 248, 255, 0.253);
      }

      .btn-primary {
        color: $txt-btn-color;
        background-color: $bc-btn-green;
        font-size: $txt-btn-size-m;
        text-decoration: none;
        cursor: pointer;
        width: auto;
        border: 2px;
        border-radius: 5px;
      }

      .forgetPass {
        margin-top: $margin-size-normal;
        h3 {
          font-size: $txt-size-s;
          text-decoration: none;
        }
      }
    }
  }
}
