.mainPortal {
  background-image: url("/img/img_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  margin-top: $margin-size-small;
  margin-bottom: $margin-size-small;

  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: ($margin-size-big * 2)+10;

    .form--container {
      margin: $margin-size-big;
      padding: $padding-size-normal;
      border: 2px;
      border-radius: $margin-size-small;
      background: $bc-green;

      .formulario {
        .btn-primary {
          color: $txt-btn-color;
          background-color: $bc-btn-green;
          font-size: $txt-btn-size-s;
          text-decoration: none;
          cursor: pointer;
          width: auto;
          border: 2px;
          border-radius: 5px;
        }

        .forgetPass {
          margin: $margin-size-normal;
          h3 {
            font-size: $txt-size-s;
            text-decoration: none;
          }
        }
      }
    }
  }
}
