* {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #335b522d; }
  .header .navbar .navbar-toggler {
    background-color: #335b522d; }
  .header .navbar .navbar-brand {
    width: max-content; }
    .header .navbar .navbar-brand .logo-brand {
      width: 220px;
      height: 70px;
      margin: 20px; }
  .header .navbar .navbar-toggler {
    margin: 20px; }
  .header .navbar .nav-item {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem; }

.footer {
  margin: 0;
  padding: 0;
  background-color: #335b522d;
  margin-top: 5px; }
  .footer .footerRow {
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline; }
    .footer .footerRow .footer-brand {
      margin-top: 5px;
      margin-bottom: 5px;
      width: max-content;
      padding: 5px;
      margin: 20px; }
      .footer .footerRow .footer-brand .logo-brand {
        margin: 10px;
        padding: 5px;
        width: 220px;
        height: 70px; }
    .footer .footerRow .footer-copywrite {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      padding: 5px;
      margin: 20px; }
      .footer .footerRow .footer-copywrite h2 {
        font-size: 0.7rem; }
    .footer .footerRow .footer-rrss {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      width: fit-content;
      padding: 0px;
      margin: 20px; }
      .footer .footerRow .footer-rrss a {
        list-style-type: none;
        text-decoration: none;
        width: auto; }
        .footer .footerRow .footer-rrss a .logo-rrss {
          margin: 5px;
          width: 40px;
          height: 40px; }

.mainIndex {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px; }
  .mainIndex .bgimageIndex {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-image: url("../../img/oftalmologo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .mainIndex .bgimageIndex .welcome h5 {
      color: #c6a9a3;
      font-size: 2.5rem;
      text-align: left;
      margin: 10px; }
    .mainIndex .bgimageIndex .welcome p {
      color: rgba(77, 52, 52, 0.541);
      font-size: 1.5rem;
      text-align: left;
      margin: 10px; }
  .mainIndex--turno {
    margin: 0;
    padding: 0; }
    .mainIndex--turno--btn {
      margin: 0;
      padding: 0; }
      .mainIndex--turno--btn .btn-main {
        border: none;
        text-align: center;
        margin-top: 5px;
        font-size: 2rem;
        background-color: #c6a9a3;
        color: white; }
        .mainIndex--turno--btn .btn-main img {
          width: auto; }
  .mainIndex .ppage {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: space-evenly;
    text-align: center; }
    .mainIndex .ppage--item h2 {
      font-size: 2rem;
      color: #99bbad;
      margin-bottom: 20px; }
    .mainIndex .ppage--item p {
      font-size: 1rem; }
  .mainIndex .bpageIndex {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%); }
    .mainIndex .bpageIndex .container-form {
      width: 50%;
      height: auto; }
      .mainIndex .bpageIndex .container-form .legend-form {
        text-align: center;
        color: rgba(77, 52, 52, 0.541); }
      .mainIndex .bpageIndex .container-form .btn-formulario {
        color: white;
        background-color: #c6a9a3;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        width: auto;
        border: 2px;
        border-radius: 5px; }

.container-fluid-main {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%);
  margin-top: 5px;
  margin-bottom: 5px; }
  .container-fluid-main .carousel--container {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px; }
    .container-fluid-main .carousel--container--item {
      margin: 0;
      padding: 0; }
      .container-fluid-main .carousel--container--item .carousel-inner {
        height: 100vh; }
        @media only screen and (max-width: 770px) {
          .container-fluid-main .carousel--container--item .carousel-inner {
            height: 40vh; } }
        .container-fluid-main .carousel--container--item .carousel-inner .carousel-item {
          height: 100vh; }
          @media only screen and (max-width: 770px) {
            .container-fluid-main .carousel--container--item .carousel-inner .carousel-item {
              height: 40vh; } }
          .container-fluid-main .carousel--container--item .carousel-inner .carousel-item img {
            height: 100vh; }
            @media only screen and (max-width: 770px) {
              .container-fluid-main .carousel--container--item .carousel-inner .carousel-item img {
                height: 40vh; } }
  .container-fluid-main .card--container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline; }
    .container-fluid-main .card--container .card--container--card {
      border: none;
      background-color: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%); }
      .container-fluid-main .card--container .card--container--card .card-body {
        text-align: center; }
        .container-fluid-main .card--container .card--container--card .card-body .card-title {
          color: #99bbad;
          font-size: 2rem; }
        .container-fluid-main .card--container .card--container--card .card-body .card-link {
          text-decoration: none;
          cursor: pointer;
          color: rgba(77, 52, 52, 0.541); }

.mainEspecialidad {
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%);
  margin-top: 5px;
  margin-bottom: 5px; }
  .mainEspecialidad .especialidad {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center; }
    .mainEspecialidad .especialidad--item--container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .mainEspecialidad .especialidad--item--container div {
        width: auto; }
        .mainEspecialidad .especialidad--item--container div h3 {
          font-size: 1rem;
          font-weight: bolder;
          text-align: center; }
        .mainEspecialidad .especialidad--item--container div h4 {
          font-size: 1rem;
          font-weight: bolder;
          text-align: center;
          margin: 10px; }
        .mainEspecialidad .especialidad--item--container div h5 {
          font-size: 1rem;
          font-weight: bolder;
          text-align: center; }
          .mainEspecialidad .especialidad--item--container div h5 a {
            text-decoration: none;
            color: #c6a9a3;
            margin: 10px; }
        .mainEspecialidad .especialidad--item--container div img {
          width: 150px;
          height: auto;
          margin: 10px; }
        .mainEspecialidad .especialidad--item--container div img:hover {
          transform: scale(2); }
    .mainEspecialidad .especialidad h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;
      color: #99bbad;
      font-size: 2rem;
      text-align: center; }

.mainEstudio {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%); }
  .mainEstudio .section1Estudio {
    margin: 0;
    padding: 0; }
    .mainEstudio .section1Estudio--estudio {
      margin: 0;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px; }
      .mainEstudio .section1Estudio--estudio h2 {
        color: #99bbad;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; }
      .mainEstudio .section1Estudio--estudio ul {
        margin: 0;
        padding: 0; }
      .mainEstudio .section1Estudio--estudio li {
        margin-top: 20px;
        margin-bottom: 20px;
        list-style: none;
        text-align: center;
        font-size: 1rem; }

.bannerEstudios {
  width: 100%;
  height: 40vh;
  background-image: url("../../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 5px;
  margin-bottom: 5px; }

.mainCirugia {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%); }
  .mainCirugia .section1Cirugia {
    margin: 0;
    padding: 0; }
    .mainCirugia .section1Cirugia--cirugia {
      margin-top: 5px;
      margin-bottom: 5px; }
      .mainCirugia .section1Cirugia--cirugia h2 {
        color: #99bbad;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #99bbad;
        font-size: 1.5rem;
        text-align: left; }
      .mainCirugia .section1Cirugia--cirugia ul {
        margin: 0;
        padding: 0; }
        .mainCirugia .section1Cirugia--cirugia ul li {
          list-style: none;
          text-align: left;
          font-size: 1rem; }

.bannerCirugia {
  width: 100%;
  height: 60vh;
  background-image: url("../../img/quirofano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px; }

.mainPortal {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../img/oftalmologo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 5px;
  margin-bottom: 5px; }
  .mainPortal .form--container {
    margin: 0;
    padding: 0;
    margin: 20px;
    padding: 10px;
    border: 2px;
    border-radius: 5px; }
    .mainPortal .form--container .formulario .form-control {
      background-color: rgba(240, 248, 255, 0.253); }
    .mainPortal .form--container .formulario .btn-primary {
      color: white;
      background-color: #c6a9a38e;
      font-size: 1.5rem;
      text-decoration: none;
      cursor: pointer;
      width: auto;
      border: 2px;
      border-radius: 5px; }
    .mainPortal .form--container .formulario .forgetPass {
      margin-top: 10px; }
      .mainPortal .form--container .formulario .forgetPass h3 {
        font-size: 1rem;
        text-decoration: none; }
