//colours
$bc-header: #335b522d;
$bc-footer: #335b522d;
$bc-news: #c6a9a349;
$title-color: #99bbad;
$color-cake: #c6a9a3;
$color-green: #99bbad;
$color-boldgreen: #488174c4;
$color-boldpink: #d8a196;
$color-white: white;
$color-txt-default: rgba(77, 52, 52, 0.541) !default;
$bc-btn-green: #488174af;
$bc-btn-cake: #c6a9a38e;
$txt-btn-color: white;

//margins
$margin-size-normal: 10px;
$margin-size-big: ($margin-size-normal * 2);
$margin-size-small: ($margin-size-normal / 2);

//paddings
$padding-size-normal: 10px;
$padding-size-big: ($padding-size-normal * 2);
$padding-size-small: ($padding-size-normal / 2);

//sizes
$title-size: 2.5rem;
$subtitle-size: ($title-size - 0.5);
$nav-item-size: ($title-size - 1);
$txt-btn-size-l: ($title-size - 0.5);
$txt-btn-size-s: ($title-size - 1.5);
$txt-btn-size-m: ($title-size - 1);
$txt-size-m: ($title-size - 1);
$txt-size-s: ($title-size - 1.5);
$txt-size-xs: ($title-size - 1.8);

//backgrounds
$bc-cream: linear-gradient(90deg, white 0%, rgba(235, 216, 183, 0.179709) 27%);
$bc-cream--light: linear-gradient(
  90deg,
  white 0%,
  rgba(235, 216, 183, 0.068) 27%
);
$bc-green: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(51, 91, 82, 0.13209033613445376) 100%
);
$bc-pink: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #c6a9a3ab);

$bc-pink--light: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #c6a9a349);

//mixins
@mixin margpad($margin-default, $padding-default) {
  margin: $margin-default;
  padding: $padding-default;
}

@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}
